    body {
        font-family:  sans-serif;
        background: #f9f9f9;
        color: #333;
        line-height: 1.6;
        background-color:antiquewhite ;
}
h2{
    background-color: rgb(98, 74, 184);

}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
#sipun{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    border: dotted;
    background-color: aqua;
}
